<html>
    
    <head>
        
        <!--stylesheet-->
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <!--   Core JS Files   -->


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
 </head>

        <style>
            #me{
                padding-top: 30px;
                width:80%;
            height: auto;
            
            }
        #logo{
            width:50%;
            height: auto;
            transition-property: border ;
            transition-timing-function: ease in;
            transition-duration: 0.5s;
        }
        
          
        
        #strip{
           
            width:100%;
            height: auto;
        }
        #pic{
          
            width:100%;
            height: auto;
        }
        

        
        body {
 
 background-color: black; 
  
}
        .bg-dark{
            background-color: black !important;
            
        }
        .nav-item{
            
            color: white;
            padding-right: 15px;
            
            
        }
        .navbar-dark .navbar-nav .nav-link{
            transition-property: border-bottom ,font-size ;
            transition-timing-function: ease in;
            transition-duration: 0.5s;
            color: whitesmoke;
        }
        .navbar-dark .navbar-nav .nav-link:hover {
        color: #00ffe5;
        font-size: large;
        border-bottom: 2px solid;
        
             }    
        .description{
           color: white;
           }
         .description em{
          color: #00F8FF;
        font-style: normal;

             }
          .container{
             margin-left: 10px !important;
             margin-right: 10px !important;
             max-width: fit-content !important;
            
              }
             
              .btn-outline-secondary {
                  margin-top: 30px;
    color:#FF0092 !important;
    border-color:#FF0092 !important;
    padding-left: 30px;
    padding-right: 30px;
}
.btn-outline-secondary:hover {
    color: #fff !important;
    background-color: #FF0092 !important;
    border-color: #FF0092 !important;
}
    </style>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href=""><img id="logo"  src="http://localhost:5000/images/Group_37.svg"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
              <a class="nav-link" href="#">About Me <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#">My Teams</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">Skill set</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">Work Flow</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Projects</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">Contacts</a>
            </li>
           
          </ul>
          
        </div>
      </nav>
      <div class="container">
          <div class="row">
              <div class="col-6">
        <img id="me" src="http://localhost:5000/images/kaus.png"></div>
          <div class="col-6">
      <p style="color: #FF0092; font-size: 45px;  margin-top: 65px;
      font-family: Montserrat; ">Kaustubh Agrawal</p>
      <p class="description" style="color: white;font-family: Montserrat ;font-size: 80;">I'm a <em>Full Stack Developer</em> </p>
      <p style="color: white; opacity: 39% ;font-family: Open Sans; font-size: 20;">I am a 18 years old Freelancer. I love to express my feelings and view into a design pattern . Design and 
        Fitness are my Hobbies.
        Appreciation to my hard work fills my Dopamine Void.</p>
        <button style="color:#FF0092 ;"type="button" class="btn btn-outline-secondary waves-effect ">Hire Me</button>
    </div></div></div>
      <img id="strip"src="http://localhost:5000/images/Group 58.png">
      
    <img id="pic"src="http://localhost:5000/images/Path 115.png">
    
    
</html>
