
<footer class="footer">
	<div class="container" id="image">
				
	<div id="imgr">
		
		
<!--<a href="https://www.instagram.com/nishitapatnaik/"><img id="fir" style="width:30px  "src="https://proxy-ap-south1.goorm.io//service/5f195da13898b60b3646c6d6_d5HkLhWrhI9CYUruAe5.run-ap-south1.goorm.io/9080//file/load/logo-ig-32464.png?path=d29ya3NwYWNlJTJGSG9zdGVsJTJGbG9nby1pZy0zMjQ2NC5wbmc=&docker_id=d5HkLhWrhI9CYUruAe5&secure_session_id=JvlY4EC_xOcNXFhjEihyY4mt0c3QMfVw">
		</a></div>
		<div id="imgr">
			
		
			<a href="https://www.linkedin.com/in/nishita-patnaik-9289a21a2/">	<img id="sec" style="width:30px; " src="https://proxy-ap-south1.goorm.io//service/5f195da13898b60b3646c6d6_d5HkLhWrhI9CYUruAe5.run-ap-south1.goorm.io/9080//file/load/SeekPng.com_linkedin-icon-png_84419.png?path=d29ya3NwYWNlJTJGSG9zdGVsJTJGdmlld3MlMkZTZWVrUG5nLmNvbV9saW5rZWRpbi1pY29uLXBuZ184NDQxOS5wbmc=&docker_id=d5HkLhWrhI9CYUruAe5&secure_session_id=JvlY4EC_xOcNXFhjEihyY4mt0c3QMfVw"></a>
		</div>
		<div id="imgr">
			
		
		<a href="https://www.facebook.com/kaustubhgagrawal">	<img id="thir" style="width:30px; " src="https://proxy-ap-south1.goorm.io//service/5f195da13898b60b3646c6d6_d5HkLhWrhI9CYUruAe5.run-ap-south1.goorm.io/9080//file/load/Group%2011.png?path=d29ya3NwYWNlJTJGSG9zdGVsJTJGR3JvdXAlMjAxMS5wbmc=&docker_id=d5HkLhWrhI9CYUruAe5&secure_session_id=3fP-xXjrWk-2ALuSNKCVXpmmyKySmxwqmon"></a></div>
			
		-->			
				
		
		</div>		 
	<div class="containers">
		
	

</p>

			
	</div>
		
		
</footer>
<style >
.footer
	{
		
		margin-left:0px;
		margin-right:0px;
		height:250px;
		width:100%;
		margin-bottom:0%;
		margin-top:100%;
		
	}
	.containers{
		padding-top:10px;
		padding-left:30px;
		color:whitesmoke;
		bottom:0;
			
	}
	.p:hover,.a:hover{
		color:blue;
	}
	#imgr{
		  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
	}
	#imgr:hover{
		box-shadow: 0 0px 5px 0 rgb(255 255 255 / 56%), 0 5px 23px 0 rgb(255 255 255 / 78%);
	}
	
	#image{
	margin-top:5%;
		height: auto;
    width: 3%;
    grid-gap: 20px;
		display: inline-flex;
    margin-left:70%;
		margin-right:10px;
	}
	#image img {
		
    width: 100%;
    height: auto;
	
}
	.a:hover{
		color:#ffffff;
	}
	</style>
	</body>
</html>
	  