<%- include ("partial/header") %>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,600&display=swap" rel="stylesheet">
<div class="container">
  <div class="row">
    <div style="margin-top:10%; "class="col-6">
    <p style="font-family:DM Sans;font-weight: bold;
font-size: 68px;
text-align: left;
color: #2b2b2b;">
		Sharing ideas leads
to getting ideas
		</p>
		
		<p style="font-family: DM Sans;
font-weight: normal;
font-size: 23px;
text-align: left;
color: #3d3d65;
				  margin-top:50px
">
			share hub is the place where people from all around the globe 
share ideas, clear doubts, share there solutions codes and 
much more.
		</p>
		<p class="main-button "id="but">
			What's in your mind ? 
		</p>
    </div>
    <div style="margin-top:5%;"class="col">
     <img id="img" src="http://localhost:5000/images/Group 42.png">
		
    </div>
   
  </div>
</div>
<style>
	
	#img{
		width:80%;
		height:auto;
		margin-left:100px;
	}
	
	.container{
		max-width:100% !important;
		padding-left:50px !important;
		
		
	
	}
	.main-button{
		width:fit-content;
		margin-top:50px;
		font-weight: 600;
    padding-top: 20px;
    padding-right: 100px;
    padding-bottom: 20px;
    padding-left: 100px;
   
   border-color:#0080FF;
   border-width:2px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: #0080FF;
		color:white;
		font-family:Montserrat;
		box-shadow: 1px 5px 20px 1px #2699FB;
		transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    
	}
	.main-button:hover{
		 padding-top: 21px;
    padding-right: 110px;
    padding-bottom: 21px;
    padding-left: 110px;
		
		box-shadow: 1px 1px 48px 2px #2699FB ;
	}
	
	
</style>

<%- include ("partial/footer") %>