
<h1>
	Sign Up!
</h1>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<form action="/register" method="post">

	<input type="text" name="username" placeholder="username">
	<input type="text" name="password" placeholder="password">
	<input type="text" name="name" placeholder="Full Name">
	<input type= "text" name="email" placeholder="Existing Gmail ID">
	

	<button>
		Sign Up
	</button>
</form>
